* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #24252a; */
}

li,
a,
button {
  text-decoration: none;
}

header {
  font-family: open sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  /* margin-right: auto; */
  cursor: pointer;
  color: whitesmoke;
  letter-spacing: 1px;
  font-size: 32px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 20px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.nav_links a {
  color: whitesmoke;
}

button {
  /* margin-left: 40px; */
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: rgba(0, 136, 169, 1);
  color: whitesmoke;
}

button:hover {
  background-color: forestgreen;
  color: whitesmoke;
}

/* .bannerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
} */

.banner {
  width: 100%;
  height: 100vh;
  background: url("./ny.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner > .contain {
  width: 50%;
  background-color: #24252a;
  color: whitesmoke;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner > div.contain > h1 {
  font-family: open sans-serif;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.banner > div.contain > p {
  line-height: 30px;
  letter-spacing: 1.5px;
}
